# Obsidian
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/backlink-cache
.obsidian/graph.json
.obsidian/plugins/obsidian-git/data.json
.trash/

# System Files
.DS_Store
Thumbs.db
desktop.ini
.Trashes
.spotlight-V100
